* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
}

p {
  font-family: "Roboto", sans-serif;
}

label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #aaaaaa;
  margin-bottom: 5px;
}

input {
  height: 30px;
  outline: none;
  width: 250px;
  border: none;
  border-bottom: solid 2px;
  max-width: 100%;
  display: block;
  padding: 20px 10px;
  line-height: 1.42857143;
  font-size: 14px;
  margin-top: 7.5px;
}

button {
  font-size: 14px;
  height: 40px;
  width: 175px;
  outline: none;
  cursor: pointer;
  border: solid 2px;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
  border: solid 2px black;
}

@font-face {
  font-family: 'StarWarsFont';
  src: url('./assets/fonts/Starjedi.woff') format('woff')
}